<?php
  namespace vio\support\view;
?>

<h1 class="page-header">Search results</h1>
<p>Found <?= count($this->matches) ?> partial matches:</p>
<div class="list-group">
<?php foreach ($this->matches as $s): ?>
  <a class="list-group-item" href="<?= $this->url("/index.php/by-student/{$s['code']}") ?>">
    <?= $this->escape($s['name']) ?>
  </a>
<?php endforeach ?>
</div>

