<?php 
  namespace vio\support\view;

  $w = new Widget();

  $tr = $w->tr($w->_->map($w->td($w->_)));
  $list = $w->ul(['class' => 'compact-list'], $w->_->map($w->li($w->_)));
  $data = [];
  $all = 0;
  $violations = 0;
  $violators = 0;
  $last = "";
  foreach ($this->data as $group) {
    $dates = [];
    $reporters = [];
    foreach ($group as $row) {
      $all++;
      $dates[] = $row->formatDate();
      $reporters[] = $row->security;
    }

    $data[] = [[++$violations, $row->description], $dates, $reporters];

    if (empty($last) || $last != $row->description) {
      $violators++;
      $last = $row->description;
    }
  }
  $diff = $all - $violations;
  $header = $this->header ?: "Student history";
?>

          <h1 class="page-header"><?= $this->escape($header) ?></h1> 
<?php if (empty($row)): ?>
          <p>No data found for this student.</p>
<?php else: ?>
          <h3><?= $row->name ?></h3>
          <div class="media">
            <div class="pull-left thumbnail">
              <img data-src="holder.js/100x100/sky/text:?" alt="?" class="media-object"/>
            </div>
            <div class="media-body">
              <ul class="list-group">
                <li class="list-group-item"><strong>Student ID</strong>: <?= $row->code ?></li>
                <li class="list-group-item"><strong>Year/Grade</strong>: <?= $row->year ?></li>
                <li class="list-group-item"><strong>Section</strong>: <?= $row->section ?></li>
                <li class="list-group-item"><strong>Violations to date</strong>: <?= $violations ?></li>
              </ul>
            </div>
          </div>
          <hr />
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th><span class="caret"></span> violation</th>
                  <th>committed on</th>
                  <th>reported by</th>
              </thead>
              <tbody>
<?php   foreach ($data as $row): ?>
          <?= $tr(['_' => array_merge($row[0], 
                    [$list(['_' => $row[1]]), $list(['_' => $row[2]])])]) ?>
<?php   endforeach; ?>
              </tbody>
            </table>
          </div>
<?php endif ?>

