body {
    padding-top: 50px;
}
.sidebar {
    background: #e2e2e2;
    border-bottom: 1px solid #d2d2d2;
    padding-top: 1em;
    padding-bottom: 1em;
}
.main {
    padding-left: 2em;
    padding-right: 2em;
}
.compact-list {
    padding-left: 0;
    margin: 0;
}
.compact-list > li {
    border-left: 1px dotted #c2c2c2;
    list-style: none;
    padding-left: 1em;
}
.compact-list > li:first-child {
    border-top: 0;
}
.page-header {
    border-color: #33ccff;
}
.tight-left {
    padding-left: 0;
}
.tight-right {
    padding-right: 0;
}
@media(min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        border-bottom: 0;
        border-right: 1px solid #d2d2d2;
    }
}
@media print {
    body { padding: 0; margin: 0 }
    td a[href]:after { content: ""; }
    .sidebar { display: none }
    .main { margin: 0; padding: 0; width: 100% }
}
